body {
  padding: 0;
  margin: 0;
}

#game {
  margin: auto;
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #game {
    width: 700px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
